.container {
    background-color: antiquewhite;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
}